@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

html

body {
  padding: 0;
  margin: 0;
  font: 14px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  font-weight: 300;
}

.wrapper {
  width: 768px;
  margin: 0 auto;
  background: #fff;
}

header, section, footer {
  display: block;
}

a {
  text-decoration: underline;
}

p {
  margin: 0 0 20px;
  padding: 0;
}

strong {
  color: #222;
  font-weight: 700;
}

header {
  position: relative;
  padding: 25px 10px 5px 10px;
  border-bottom: 1px solid black;
}
header h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 1.2;
  font-weight: 300;
  border-top: 3px solid black;
  padding-top: 15px;
}
.brand {
  width: 120px;
  display: block;
  margin-bottom: 40px;
  float: right;
}
.logo {
  width: 375px;
}
img {
  -ms-interpolation-mode: bicubic;
  image-rendering:optimizeQuality;
  image-rendering: -webkit-optimize-contrast;
}
header.without-description h1 {
  margin: 10px 0;
}
header p {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}
header p.view {
  display: none;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
header p.view a {
  color: #2b9ea6;
}
header p.view a:hover {
  color: #61ced6;
}
header p.view small {
  font-weight: 400;
}
header ul {
  list-style: none;
  float: right;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0;
  border-bottom: 1px solid black;
  margin-bottom: 140px;
  margin-left: 90px;
}
header ul a {
  line-height: 1;
  font: 14px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2b9ea6;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
header ul a:hover {
  color: #61ced6;
}
header ul li {
  padding-top: 5px;
}
section {
  padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

p, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
  font-weight: 300;
}

h1 {
  font-size: 28px;
  font-weight: 300;
}

h2 {
  color: #393939;
}

h3, h4, h5, h6 {
  color: #494949;
}

blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222;
}

img {
  max-width: 100%;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
  overflow-x: scroll;
}

pre {
  padding: 20px 25px;
  margin: 0 25px 20px;
  background-color: #000;
}
pre code {
  color: #eee;
}
li pre {
  margin-left: -60px;
  padding-left: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

dt {
  color: #222;
  font-weight: 700;
}

th {
  color: #222;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 768px;
  margin: 0 auto;
  padding: 20px 0 0;
  overflow: hidden;
  font-size: 12px;
}
footer a {
  color: #2b9ea6;
  font-weight: 300;
}
footer a:hover {
  color: #61ced6;
}
footer p {
  float: left;
}
footer p + p {
  float: right;
}

@media print, screen and (max-width: 740px) {
  body {
    padding: 0;
  }

  .wrapper {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }

  footer {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 20px;
    width: auto;
  }
  footer p {
    float: none;
    margin: 0;
  }
  footer p + p {
    float: none;
  }
}
@media print, screen and (max-width:580px) {
  header ul {
    display: none;
  }

  header p.view {
    display: block;
  }

  header p {
    width: 100%;
  }
}
@media print {
  header p.view a small:before {
    content: 'at http://github.com/';
  }
}

.actions {
  width: 100%;
  margin: 5px;
  height: 180px;
}
.actions .action {
    width: 30%;
    float: left;
    height: 100%;
    text-align: center;
    margin: 5px;
    padding-top: 5px;
    border: black 1px solid;
    font-weight: bold;
    vertical-align:middle;
}

.action img {
    height:120px;
}

.action p a{
  font-weight: bold;
  height: 140px;
}

.gems-command {
  vertical-align: middle;
  line-height: 10em;
}